.App-footer {
  text-align: center;
  margin: 30px 0;
  color:rgb(215, 194, 240)
  
}

.App-header {
    font-size: 60px;
    text-align: center;
    margin: 20px 20px;
    color: rgb(215, 194, 240);
    font-weight: bold;
    font-family: 'Shizuru', cursive;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
